body {
    background-image:url("https://fondosmil.com/fondo/6625.jpg");
}

h1{
    color: white;
}

.w{
    width: 95%;
    height: 40px;
    border-color: red;
    background-color: black;
    color: aliceblue;
}

.r{
    width: 100px;
    height: 40px;
    border-color: red;
    background-color:black;
    color: aliceblue;
}

.e{
    float: left;
    width: 20px;
    height: 20px;
}

p{
    color: white;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

button{
    float:right;
    width: 100px;
    height: 40px;
    border-color: red;
    background-color:black;
    color: aliceblue;
}

.l{
    float: left;
    width: 100px;
    height: 40px;
    background-color:black;
}